<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add information about the address and user!!!</title>
</head>
<body>
<h1>Add information about the address and user!!!</h1>

<form action="/addAddressUserInfo" method="get">
    <input name="cityAddressUser" placeholder="Input city of the user's address:" type="text">
    <input name="streetAddressUser" placeholder="Input street of the user's address:" type="text">
    <input name="homeNumberAddressUser" placeholder="Input home number of the user's address:" type="text">
    <br></br>
    <input name="nameUser" placeholder="Input the user's name:" type="text">
    <input name="emailUser" placeholder="Input the user's email:" type="text">
    <br></br>
    <input type="submit" value="Add the user's information into the DataBase!">
</form>

</body>
</html>