<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add information about  race!!!</title>
</head>
<body>
<h1>Add information about  race!!!</h1>

<form action="/addRaceInfo" method="get">
    <input name="numberOfTheRaceWeek" placeholder="Input number of the race week:" type="text">
    <input name="dataOfTheRace" placeholder="Input year of the race:" type="text">
    <input type="submit" value="Add the race to the DataBase!">
</form>

<form action="/addRace" method="get">
    <input type="submit" value="Add new race information!">
</form>-->

</body>
</html>