<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change information about the country!!!</title>
</head>
<body>
<h1>Change information about the country!!!</h1>

<form action="/changeCountryInfo" method="get">
    <h4>Code of the country:  <span th:text="${codeCountry}"></span></h4>
    <h4>Name of the country: <span th:text="${nameCountry}"></span></h4>

    <p> </p>

<!--    <input name="specialCode" placeholder="Input special code to change the race:" type="text">-->
<!--    <input name="numberOfTheRaceWeek" placeholder="Input number of the race week:" type="text">-->
<!--    <input name="yearOfTheRace" placeholder="Input year of the race:" type="text">-->
<!--    <input name="countryOfTheRace" placeholder="Input country of the race:" type="text">-->
<!--    <input name="cityOfTheRace" placeholder="Input city of the race:" type="text">-->
<!--    <input type="submit" value="Change the race to the DataBase!">-->
</form>

</body>
</html>