<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change information about the race!!!</title>
</head>
<body>
<h1>Change information about the race!!!</h1>

<form action="/changeRaceInfo" method="get">
    <h4>Number of the week race:  <span th:text="${numberOfTheRaceWeek}"></span></h4>
    <h4>Year of the race: <span th:text="${dataOfTheRace}"></span></h4>
    <h4>Welcome <span th:text="${countryOfTheRace}"></span></h4>
    <h4>Welcome <span th:text="${cityOfTheRace}"></span></h4>
    <p> </p>

    <input name="specialCode" placeholder="Input special code to change the race:" type="text">
    <input name="numberOfTheRaceWeek" placeholder="Input number of the race week:" type="text">
    <input name="yearOfTheRace" placeholder="Input year of the race:" type="text">
    <input name="countryOfTheRace" placeholder="Input country of the race:" type="text">
    <input name="cityOfTheRace" placeholder="Input city of the race:" type="text">
    <input type="submit" value="Change the race to the DataBase!">
</form>

</body>
</html>