<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change information about the race!!!</title>
</head>
<body>
<h1>Change information about the race!!!</h1>

<form action="/changeRaceInfo" method="get">
    <input name="numberOfTheRaceWeek" placeholder="Input number of the race week:" type="text">
    <input name="yearOfTheRace" placeholder="Input year of the race:" type="text">
    <input name="countryOfTheRace" placeholder="Input country of the race:" type="text">
    <input name="cityOfTheRace" placeholder="Input city of the race:" type="text">
    <input type="submit" value="Add the race to the DataBase!">
</form>

</body>
</html>