<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change information about the country!!!</title>
</head>
<body>
<h1>Change information about the country!!!</h1>

<form action="/changeCountryInfo" method="get">
    <h4>Code of the country:  <span th:text="${codeCountry}"></span></h4>
    <h4>Name of the country: <span th:text="${nameCountry}"></span></h4>

    <p> </p>

    <input name="specialCode" placeholder="Input special code to change the country:" type="text">
    <input name="codeCountry" placeholder="Input new code of the country:" type="text">
    <input name="nameCountry" placeholder="Input new name of the country:" type="text">
    <input type="submit" value="Change the country in the DataBase!">
</form>

</body>
</html>