<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work with Teams and Pilots table (Spring Data)!!!</title>
</head>
<body>
<h1>Work with Teams and Pilots table (Spring Data)!!!</h1>

<!--// GetTeams-->
<form action="/getTeams" method="get">
    <input name="specialCode" placeholder="Input special code to change the race:" type="text">
    <input name="nameTeam" placeholder="Input name of the Team:" type="text">
    <input type="submit" value="Get the teams from the DataBase Spring Data">
</form>

<!--// CreateTeams-->
<form action="/createTeam" method="get">
    <input name="specialCode" placeholder="Input special code for this operation:" type="text">
    <input name="nameTeam" placeholder="Input name of the Team:" type="text">
    <input name="yearTeam" placeholder="Input year of the Team:" type="number">
    <input name="codeTeam" placeholder="Input code of the Team:" type="text">
    <input type="submit" value="Add the team DataBase Spring Data">
</form>

<!--// DeleteTeams-->
<form action="/deleteTeam" method="get">
    <input name="specialCode" placeholder="Input special code for this operation:" type="text">
    <input name="nameTeam" placeholder="Input name of the Team:" type="text">
    <input name="idTeam" placeholder="Input id of the Team:" type="text">
    <input type="submit" value="Delete the team from the DataBase Spring Data">
</form>

<!--// UpdateTeams-->
<form action="/updateTeam" method="get">
    <input name="specialCode" placeholder="Input special code for this operation:" type="text">
    <input name="nameTeam" placeholder="Input name of the Team:" type="text">
    <input name="idTeam" placeholder="Input id of the Team:" type="number">
    <input type="submit" value="Update the team from the DataBase Spring Data">
</form>

<form action="/updateYearCodeTeam" method="get">
    <input name="specialCode" placeholder="Input special code for this operation:" type="text">
    <input name="yearTeam" placeholder="Input year of the Team:" type="number">
    <input name="codeTeam" placeholder="Input code of the Team:" type="text">
    <input name="idTeam" placeholder="Input id of the Team:" type="number">
    <input type="submit" value="Update the team from the DataBase Spring Data">
</form>

<p />p
Work with Pilots table!!!
<p />p

<!--CreatePilots-->
<!--DeletePilots-->
<!--GetPilots-->
<form action="/getPilots" method="get">
    <input name="specialCode" placeholder="Input special code to change the race:" type="text">
    <input name="namePilot" placeholder="Input name of the Pilot:" type="text">
    <input type="submit" value="Get the Pilots from the DataBase Spring Data">
</form>
<!--UpdatePilots-->

</body>
</html>